<div>
<div class="row">
	<div class="3u 12u(mobile)">
		<ul class="link-list">
			<li><a href="https://www.aps.edu">Albuqueruqe Public Schools</a></li>
			<li><a href="https://abclibrary.org/home">Albuquerque Bernalillo County Libraries</a></li>
			<li><a href="https://www.bernco.gov/treasurer/property-tax-calculator.aspx">Bernalillo County Property Tax Information</a></li>
			<li><a href="https://www.cabq.gov">City of Albuquerque (CABQ) home page</a></li>
		</ul>
	</div>
	<div class="3u 12u(mobile)">
		<ul class="link-list">
			<li><a href="https://www.cabq.gov/311/abq311">CABQ On-line 311 reporting</a></li>
			<li><a href="https://www.cabq.gov/transit/routes-and-schedules">Bus Routes and Schedules</a></li>
			<li><a href="https://www.cabq.gov/family/community-centers/community-center-locations/mckinley-community-center">McKinley Community Center</a></li>
			<li><a href="https://www.cabq.gov/airquality/todays-status">Pollen Count</a></li>
		</ul>
	</div>
	<div class="3u 12u(mobile)">
		<ul class="link-list">
			<li><a href="https://www.cabq.gov/gis/address-report">Property Address Search</a></li>
			<li><a href="https://www.cabq.gov/solidwaste/recycling">Recycling</a></li>
			<li><a href="https://www.cabq.gov/pets/adoptions/search-for-a-lost-or-adoptable-pet/search-for-a-lost-or-adoptable-pet">Search for a Lost or Adoptable Pet</a></li>
			<li><a href="https://www.cabq.gov/seniors/online-services">Senior Affairs Online Services</a></li>
		</ul>
	</div>
	<div class="3u 12u(mobile)">
		<ul class="link-list">
			<li><a href="https://www.cabq.gov/seniors/senior-multigenerational-centers/palo-duro-senior-center">Palo Duro Senior Center</a></li>
			<li><a href="https://www.cabq.gov/planning/report-a-violation">Zoning Complaint</a></li>
		</ul>
	</div>
</div>
</div>