<h2>Newsletter</h2>
{{ $filepath := printf "static/documents/newsletter" }}
{{ $files    := readDir $filepath }}
<p>
{{ range last 1 $files }}
	<a href="/documents/newsletter/{{ .Name }}"><img alt="Decorative image, Adobe PDF logo/icon" src="/images/newsletter-icon.png" />&nbsp;{{ replace (replace .Name ".pdf" "") "-Newsletter" " Bel-Air News" }}</a>
{{ end }}
</p>
<h2>Calendar</h2>
<p>
{{ $.Scratch.Set "counter" 0 }}
{{ range .Site.Data.events }}
	{{ if ge .startdate.Unix now.Unix }}
		{{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
		<strong>{{ .name }} (@<a href={{ .locationurl }} target="_blank">{{ .locationname }}</a>)</strong><br />
		<em>{{ .startdate.Format "January 02" }}, {{ .duration }}</em><br />
		{{ .comment }}<br /><br />
	{{ end }}
{{ end }}
{{ if eq ($.Scratch.Get "counter") 0 }}
	No events at this time
{{ end }}
		<strong>Neighborhood Park Party (@<a href="https://goo.gl/maps/VgSSNiB3ALR2" target="_blank">Bel-Air Park</a>)</strong><br />
		<em>TBD</em><br />
		We will plan to have our annual Park Party again this fall. In the past, we have had a cookout with neighbors bringing side dishes. Last year, we had a pizza party and had AFR, APD and APD's horse unit
in attendance, We welcome your input on how you would like to celebrate our neighborhood. Please join us at the meeting with your ideas.<br /><br />
</p>
